.exam-footer-container {
    position: absolute;
    bottom: 0px;
    height: 88px;
    color: white;
    left: 0px;
    right: 0px;
    margin: 0 16px 16px 16px;

    .page {
        padding-top: 5px;
        text-align: center;
        font-size: smaller;
        height: 24px;

        i {
            margin: 0 4px;

            &.active {
                color: #00ff26;
            }
        }
    }

    .exam-footer-content {
        height: calc(100% - 24px);
        position: absolute;
        justify-content: space-between;
        align-items: center;

        .left-content {
            .btn {
                display: flex;
                height: 100%;
                min-width: 64px;
                align-items: center;
                justify-content: center;
                text-align: center;
            }

            .next {
                margin-left: 16px;
            }
        }

        .right-content {
            justify-content: end;
            align-items: center;

            .btn {
                display: flex;
                height: 100%;
                min-width: 80px;
                align-items: center;
                justify-content: center;
                text-align: center;
            }

            .apply {
                margin-right: 16px;
            }
        }
    }
}