.createQuestionContainer {
    .container {
        padding: 0 100px;

        .row {

            .type-multiple-choice {

                .answers {
                    margin: 5px 0 10px;

                    .answer {
                        margin-left: 10px;
                        display: inline-block;
                        width: 100%;
                        align-items: center;
                    }
                }

                .tool-bar {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .ck-editor__top {
                    position: fixed;
                    top: 40px;
                    left: 0px;

                    .ck-toolbar {
                        // background-color: transparent;
                        border: 0px;
                    }

                    .ck-icon {
                        color: black;
                    }

                    .ck-button__label {
                        color: black;
                    }
                }
            }
        }

    }
}

.requiredField {
    color: red
}