.createUserContainer {
    .container {
        .row {
            .title {
                align-items: center;
                justify-content: center;
                text-align: center;
            }
        }

    }
}

.requiredField {
    color: red
}