.exam-item {
    border: 1px solid black;
    border-radius: 15px;
    margin: 10px;
    user-select: none;
    background: rgb(193, 212, 247);

    &:hover {
        cursor: pointer;
    }

    .title {
        text-align: left;
    }
}