.createQuestionGroupContainer {
    background-color: rgba(0, 0, 0, 0.192);

    .container {
        .title {
            margin-top: 0px;
        }

        .show-questions {
            border-radius: 16px;
            height: 50vh;
            background-color: rgba(0, 0, 0, 0.192);

            .exam-body {
                padding: 8px;
                height: 80%;
            }

            .exam-footer {
                height: 20%;
                min-height: 64px;
            }
        }

        .question-table {
            margin-top: 16px;
        }

    }
}